body.custom-background {
background-image : url("/files/sites/19/2017/09/RLSH-BG.jpg");
background-position : left top;
background-size : auto;
background-repeat : repeat;
background-attachment : scroll;
}
:root .has-button-color-color {
color : #0066CC;
}
:root .has-button-color-background-color {
background-color : #0066CC;
}
:root .has-button-hover-color-color {
color : #10659C;
}
:root .has-button-hover-color-background-color {
background-color : #10659C;
}
:root .has-button-hover-text-color-color {
color : #FFFFFF;
}
:root .has-button-hover-text-color-background-color {
background-color : #FFFFFF;
}
:root .has-button-text-color-color {
color : #FFFFFF;
}
:root .has-button-text-color-background-color {
background-color : #FFFFFF;
}
:root .has-responsive-container-background-color-color {
color : #333333;
}
:root .has-responsive-container-background-color-background-color {
background-color : #333333;
}
:root .has-responsive-main-container-background-color-color {
color : #ffffff;
}
:root .has-responsive-main-container-background-color-background-color {
background-color : #ffffff;
}
.container, [class*="__inner-container"], .site-header-full-width-main-navigation.site-mobile-header-layout-vertical:not(.responsive-site-full-width) .main-navigation-wrapper {
max-width : 1140px;
}
.page.front-page.responsive-site-style-content-boxed .custom-home-widget-section.home-widgets, .blog.front-page.responsive-site-style-content-boxed .custom-home-widget-section.home-widgets, .responsive-site-style-content-boxed .custom-home-about-section, .responsive-site-style-content-boxed .custom-home-feature-section, .responsive-site-style-content-boxed .custom-home-team-section, .responsive-site-style-content-boxed .custom-home-testimonial-section, .responsive-site-style-content-boxed .custom-home-contact-section, .responsive-site-style-content-boxed .custom-home-widget-section, .responsive-site-style-content-boxed .custom-home-featured-area, .responsive-site-style-content-boxed .site-content-header, .responsive-site-style-content-boxed .content-area-wrapper, .responsive-site-style-content-boxed .site-content .hentry, .responsive-site-style-content-boxed .give-wrap .give_forms, .responsive-site-style-content-boxed .navigation, .responsive-site-style-content-boxed .comments-area, .responsive-site-style-content-boxed .comment-respond, .responsive-site-style-boxed .custom-home-about-section, .responsive-site-style-boxed .custom-home-feature-section, .responsive-site-style-boxed .custom-home-team-section, .responsive-site-style-boxed .custom-home-testimonial-section, .responsive-site-style-boxed .custom-home-contact-section, .responsive-site-style-boxed .custom-home-widget-section, .responsive-site-style-boxed .custom-home-featured-area, .responsive-site-style-boxed .site-content-header, .responsive-site-style-boxed .site-content .hentry, .responsive-site-style-boxed .give-wrap .give_forms, .responsive-site-style-boxed .navigation, .responsive-site-style-boxed .comments-area, .responsive-site-style-boxed .comment-respond, .responsive-site-style-boxed .comment-respond, .responsive-site-style-boxed aside#secondary .widget-wrapper, .responsive-site-style-boxed .site-content article.product {
background-color : #ffffff;
border-radius : 0;
}
address, blockquote, pre, code, kbd, tt, var {
background-color : #eaeaea;
}
.responsive-site-style-content-boxed .hentry, .responsive-site-style-content-boxed .give-wrap .give_forms, .responsive-site-style-content-boxed .navigation, .responsive-site-style-content-boxed .comments-area, .responsive-site-style-content-boxed .comment-respond, .responsive-site-style-boxed .give-wrap .give_forms, .responsive-site-style-boxed .hentry, .responsive-site-style-boxed .navigation, .responsive-site-style-boxed .comments-area, .responsive-site-style-boxed .comment-respond, .page.front-page.responsive-site-style-flat .widget-wrapper, .blog.front-page.responsive-site-style-flat .widget-wrapper, .responsive-site-style-boxed .widget-wrapper, .responsive-site-style-boxed .site-content article.product {
padding : 30px;
}
@media screen and (max-width: 992px) {
.responsive-site-style-content-boxed .hentry, .responsive-site-style-content-boxed .give-wrap .give_forms, .responsive-site-style-content-boxed .navigation, .responsive-site-style-content-boxed .comments-area, .responsive-site-style-content-boxed .comment-respond, .responsive-site-style-boxed .hentry, .responsive-site-style-boxed .give-wrap .give_forms, .responsive-site-style-boxed .navigation, .responsive-site-style-boxed .comments-area, .responsive-site-style-boxed .comment-respond, .page.front-page.responsive-site-style-flat .widget-wrapper, .blog.front-page.responsive-site-style-flat .widget-wrapper, .responsive-site-style-boxed .widget-wrapper, .responsive-site-style-boxed .site-content article.product, .page-template-gutenberg-fullwidth.responsive-site-style-content-boxed .hentry .post-entry > div:not(.wp-block-cover):not(.wp-block-coblocks-map), .page-template-gutenberg-fullwidth.responsive-site-style-boxed .hentry .post-entry > div:not(.wp-block-cover):not(.wp-block-coblocks-map) {
padding : 30px;
}
}
@media screen and (max-width: 576px) {
.responsive-site-style-content-boxed .give-wrap .give_forms, .responsive-site-style-content-boxed .hentry, .responsive-site-style-content-boxed .navigation, .responsive-site-style-content-boxed .comments-area, .responsive-site-style-content-boxed .comment-respond, .responsive-site-style-boxed .hentry, .responsive-site-style-boxed .give-wrap .give_forms, .responsive-site-style-boxed .navigation, .responsive-site-style-boxed .comments-area, .responsive-site-style-boxed .comment-respond, .page.front-page.responsive-site-style-flat .widget-wrapper, .blog.front-page.responsive-site-style-flat .widget-wrapper, .responsive-site-style-boxed .widget-wrapper, .responsive-site-style-boxed .site-content article.product, .page-template-gutenberg-fullwidth.responsive-site-style-content-boxed .hentry .post-entry > div:not(.wp-block-cover):not(.wp-block-coblocks-map), .page-template-gutenberg-fullwidth.responsive-site-style-boxed .hentry .post-entry > div:not(.wp-block-cover):not(.wp-block-coblocks-map) {
padding : 30px;
}
}
body {
color : #333333;
}
.post-data *, .hentry .post-data a, .hentry .post-data, .post-meta *, .hentry .post-meta a {
color : #999999;
}
a {
color : #0066CC;
}
.entry-content .woocommerce a.remove:hover {
color : #0066CC !important ;
border-color : #0066CC;
}
a:hover {
color : #10659C;
}
label {
color : #333333;
}
.responsive-block-editor-addons-button__wrapper > .not-inherited-from-theme, .responsive-block-editor-addons-button__wrapper > .inherited-from-theme {
color : #ffffff;
}
.responsive-block-editor-addons-button__wrapper:hover > .not-inherited-from-theme, .responsive-block-editor-addons-button__wrapper:hover > .inherited-from-theme {
color : #ffffff;
}
.page.front-page .button, .blog.front-page .button, .read-more-button .hentry .read-more .more-link, input[type="button"], input[type="submit"], button, .button, .wp-block-button__link, body div.wpforms-container-full .wpforms-form input[type="submit"], body div.wpforms-container-full .wpforms-form button[type="submit"], body div.wpforms-container-full .wpforms-form .wpforms-page-button, .main-navigation .menu .res-button-menu .res-custom-button {
background-color : #0066CC;
border : #10659C solid 0;
border-radius : 0;
color : #ffffff;
padding : 10px;
}
@media screen and (max-width: 992px) {
.page.front-page .button, .blog.front-page .button, .read-more-button .hentry .read-more .more-link, input[type="button"], .wp-block-button__link, input[type="submit"], button, .button, body div.wpforms-container-full .wpforms-form input[type="submit"], body div.wpforms-container-full .wpforms-form button[type="submit"], body div.wpforms-container-full .wpforms-form .wpforms-page-button, .main-navigation .menu .res-button-menu .res-custom-button {
padding : 10px;
}
}
@media screen and (max-width: 576px) {
.page.front-page .button, .blog.front-page .button, .read-more-button .hentry .read-more .more-link, input[type="button"], .wp-block-button__link, input[type="submit"], button, .button, body div.wpforms-container-full .wpforms-form input[type="submit"], body div.wpforms-container-full .wpforms-form button[type="submit"], body div.wpforms-container-full .wpforms-form .wpforms-page-button, .main-navigation .menu .res-button-menu .res-custom-button {
padding : 10px;
}
}
.page.front-page .button:focus, .blog.front-page .button:focus, .page.front-page .button:hover, .blog.front-page .button:hover, .wp-block-button__link.has-text-color.has-background:focus, .wp-block-button__link.has-text-color.has-background:hover, .wp-block-button__link.has-text-color:focus, .wp-block-button__link.has-text-color:hover, .wp-block-button__link.has-background:hover, .wp-block-button__link.has-background:focus, .main-navigation .menu .res-button-menu .res-custom-button:hover {
color : #ffffff !important ;
background-color : #10659C !important ;
}
.wp-block-button__link:focus, .wp-block-button__link:hover, .read-more-button .hentry .read-more .more-link:hover, .read-more-button .hentry .read-more .more-link:focus, input[type="button"]:hover, input[type="submit"]:hover, input[type="button"]:focus, input[type="submit"]:focus, button:hover, button:focus, .button:hover, .button:focus, body div.wpforms-container-full .wpforms-form input[type="submit"]:hover, body div.wpforms-container-full .wpforms-form input[type="submit"]:focus, body div.wpforms-container-full .wpforms-form input[type="submit"]:active, body div.wpforms-container-full .wpforms-form button[type="submit"]:hover, body div.wpforms-container-full .wpforms-form button[type="submit"]:focus, body div.wpforms-container-full .wpforms-form button[type="submit"]:active, body div.wpforms-container-full .wpforms-form .wpforms-page-button:hover, body div.wpforms-container-full .wpforms-form .wpforms-page-button:active, body div.wpforms-container-full .wpforms-form .wpforms-page-button:focus, .main-navigation .menu .res-button-menu .res-custom-button:hover {
color : #ffffff;
border : #0066CC solid 0;
background-color : #10659C;
}
select, textarea, input[type="tel"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="password"], input[type="range"], input[type="time"], input[type="url"], input[type="week"], body div.wpforms-container-full .wpforms-form input[type="date"], body div.wpforms-container-full .wpforms-form input[type="datetime"], body div.wpforms-container-full .wpforms-form input[type="datetime-local"], body div.wpforms-container-full .wpforms-form input[type="email"], body div.wpforms-container-full .wpforms-form input[type="month"], body div.wpforms-container-full .wpforms-form input[type="number"], body div.wpforms-container-full .wpforms-form input[type="password"], body div.wpforms-container-full .wpforms-form input[type="range"], body div.wpforms-container-full .wpforms-form input[type="search"], body div.wpforms-container-full .wpforms-form input[type="tel"], body div.wpforms-container-full .wpforms-form input[type="text"], body div.wpforms-container-full .wpforms-form input[type="time"], body div.wpforms-container-full .wpforms-form input[type="url"], body div.wpforms-container-full .wpforms-form input[type="week"], body div.wpforms-container-full .wpforms-form select, body div.wpforms-container-full .wpforms-form textarea {
color : #333333;
background-color : #ffffff;
border : #cccccc solid 1px;
border-radius : 0;
line-height : 1.75;
padding : 3px;
height : auto;
}
.entry-content div.wpforms-container-full .wpforms-form select, body div.wpforms-container-full .wpforms-form select, select {
background-image : linear-gradient(45deg, transparent 50%, #333333 50%), linear-gradient(135deg, #333333 50%, transparent 50%);
background-position : calc(100% - 20px) calc(50% + 2px), calc(100% - 15px) calc(50% + 2px), calc(100% - 0.5em) 0.5em;
background-size : 5px 5px, 5px 5px, 1.5em 1.5em;
background-repeat : no-repeat;
}
body div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error, body div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid, body div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error, body div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid, body div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error, body div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid {
border-width : 1px;
}
@media screen and (max-width: 992px) {
select, textarea, input[type="tel"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="password"], input[type="range"], input[type="time"], input[type="url"], input[type="week"], body div.wpforms-container-full .wpforms-form input[type="date"], body div.wpforms-container-full .wpforms-form input[type="datetime"], body div.wpforms-container-full .wpforms-form input[type="datetime-local"], body div.wpforms-container-full .wpforms-form input[type="email"], body div.wpforms-container-full .wpforms-form input[type="month"], body div.wpforms-container-full .wpforms-form input[type="number"], body div.wpforms-container-full .wpforms-form input[type="password"], body div.wpforms-container-full .wpforms-form input[type="range"], body div.wpforms-container-full .wpforms-form input[type="search"], body div.wpforms-container-full .wpforms-form input[type="tel"], body div.wpforms-container-full .wpforms-form input[type="text"], body div.wpforms-container-full .wpforms-form input[type="time"], body div.wpforms-container-full .wpforms-form input[type="url"], body div.wpforms-container-full .wpforms-form input[type="week"], body div.wpforms-container-full .wpforms-form select, body div.wpforms-container-full .wpforms-form textarea {
padding : 3px;
}
}
@media screen and (max-width: 576px) {
select, textarea, input[type="tel"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="password"], input[type="range"], input[type="time"], input[type="url"], input[type="week"], body div.wpforms-container-full .wpforms-form input[type="date"], body div.wpforms-container-full .wpforms-form input[type="datetime"], body div.wpforms-container-full .wpforms-form input[type="datetime-local"], body div.wpforms-container-full .wpforms-form input[type="email"], body div.wpforms-container-full .wpforms-form input[type="month"], body div.wpforms-container-full .wpforms-form input[type="number"], body div.wpforms-container-full .wpforms-form input[type="password"], body div.wpforms-container-full .wpforms-form input[type="range"], body div.wpforms-container-full .wpforms-form input[type="search"], body div.wpforms-container-full .wpforms-form input[type="tel"], body div.wpforms-container-full .wpforms-form input[type="text"], body div.wpforms-container-full .wpforms-form input[type="time"], body div.wpforms-container-full .wpforms-form input[type="url"], body div.wpforms-container-full .wpforms-form input[type="week"], body div.wpforms-container-full .wpforms-form select, body div.wpforms-container-full .wpforms-form textarea {
padding : 3px;
}
}
h1 {
color : #333333;
}
h2 {
color : #333333;
}
h3 {
color : #333333;
}
h4 {
color : #333333;
}
h5 {
color : #333333;
}
h6 {
color : #333333;
}
body.custom-background.responsive-site-contained, body.custom-background.responsive-site-full-width {
background-position : left top;
}
body.custom-background.responsive-site-contained, body.custom-background.responsive-site-full-width {
background-attachment : fixed;
}
body.custom-background.responsive-site-contained, body.custom-background.responsive-site-full-width {
background-repeat : repeat;
}
body.custom-background.responsive-site-contained, body.custom-background.responsive-site-full-width {
background-size : cover;
}
.widget-area .widget-title h4 {
color : #333333;
}
.responsive-site-style-boxed aside#secondary .widget-wrapper {
background-color : #ffffff;
}
.widget-area {
color : #333333;
}
.widget-area .widget-wrapper a {
color : #0066CC;
}
.widget-area .widget-wrapper a:hover {
color : #10659C;
}
body:not(.res-transparent-header) .site-header {
padding-top : 0;
padding-bottom : 0;
}
@media screen and (max-width: 767px) {
body.site-header-layout-vertical.site-mobile-header-layout-horizontal:not(.res-transparent-header) .site-header .main-navigation {
border-top : 0;
}
}
body.res-transparent-header .site-header {
padding-top : 0;
}
@media screen and (max-width: 767px) {
body.site-header-layout-vertical.site-mobile-header-layout-horizontal.res-transparent-header .site-header .main-navigation {
border-top : 0;
}
}
@media (min-width: 767px) {
.main-navigation .menu-toggle {
display : none;
}
.site-branding {
width : auto;
}
.main-navigation .menu {
display : block;
}
.main-navigation .menu > li {
border-bottom : none;
float : left;
margin-left : 2px;
}
.main-navigation .children, .main-navigation .sub-menu {
background-color : #ffffff;
box-shadow : 0 0 2px #cccccc;
left : -9999em;
margin-left : 0;
top : 100%;
position : absolute;
width : 240px;
z-index : 9999;
}
.main-navigation .children > li.focus > .children, .main-navigation .children > li.focus > .sub-menu, .main-navigation .children > li:hover > .children, .main-navigation .children > li:hover > .sub-menu, .main-navigation .sub-menu > li.focus > .children, .main-navigation .sub-menu > li.focus > .sub-menu, .main-navigation .sub-menu > li:hover > .children, .main-navigation .sub-menu > li:hover > .sub-menu {
left : 100%;
top : 0;
}
.main-navigation .children > li:first-child, .main-navigation .sub-menu > li:first-child {
border-top : none;
}
.main-navigation .children a, .main-navigation .sub-menu a {
padding : 15px 15px;
}
.site-header-layout-horizontal.site-header-main-navigation-site-branding .main-navigation .menu > li {
margin-left : 0;
margin-right : 2px;
}
.site-header-layout-vertical .site-header .row {
flex-direction : column;
}
.site-header-layout-vertical .main-navigation .menu > li {
margin-left : 0;
margin-right : 2px;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu {
display : table;
margin-left : auto;
margin-right : auto;
width : auto;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu > li {
margin-left : 1px;
margin-right : 1px;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu {
display : table;
margin-right : 0;
margin-left : auto;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu > li {
margin-left : 1px;
margin-right : 0;
}
.site-header-layout-vertical.site-header-full-width-main-navigation .main-navigation {
margin-left : calc(50% - 50vw);
margin-right : calc(50% - 50vw);
max-width : 100vw;
width : 100vw;
}
.site-header-layout-horizontal .site-header .row {
flex-wrap : nowrap;
}
.site-header-layout-vertical.site-header-alignment-center .site-branding {
text-align : center;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu-toggle {
text-align : center;
margin : auto;
}
.site-header-layout-vertical.site-header-alignment-right .site-branding {
text-align : right;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu-toggle {
text-align : right;
float : right;
}
.site-header-layout-horizontal.header-widget-position-with_logo .site-branding {
padding-right : 75px;
}
.site-header-layout-vertical.site-header-alignment-center .site-branding {
text-align : center;
background: none;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu-toggle {
text-align : center;
margin : auto;
}
.site-header-layout-vertical.site-header-alignment-center .main-navigation .menu > li {
margin-left : 1px;
margin-right : 1px;
}
.site-header-layout-vertical.site-header-alignment-right .site-branding {
text-align : right;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu-toggle {
text-align : right;
float : right;
}
.site-header-layout-vertical.site-header-alignment-right .main-navigation .menu > li {
margin-left : 1px;
margin-right : 1px;
}
.site-header-layout-vertical.site-header-site-branding-main-navigation.site-header-full-width-main-navigation .main-navigation {
border-top : 1px solid #eaeaea;
}
.site-header-layout-vertical.site-header-site-branding-main-navigation.site-header-full-width-main-navigation .main-navigation div {
border-bottom : 0;
}
.site-header-layout-vertical.site-header-main-navigation-site-branding.site-header-full-width-main-navigation .main-navigation {
border-bottom : 1px solid #eaeaea;
border-top : 0;
}
.site-header-layout-vertical.site-header-main-navigation-site-branding.site-header-full-width-main-navigation .main-navigation div {
border-bottom : 0;
}
.children .res-iconify.no-menu {
transform : rotate(-139deg);
right : 0.5rem;
}
.main-navigation .menu .sub-menu .res-iconify svg {
transform : translate(0,-50%) rotate(270deg);
}
}
@media screen and (max-width: 767px) {
.site-mobile-header-layout-horizontal.site-header-main-navigation-site-branding .main-navigation .menu-toggle {
bottom : 28px;
}
.site-mobile-header-layout-horizontal.site-header-site-branding-main-navigation .main-navigation .menu-toggle {
top : 28px;
}
.site-mobile-header-layout-horizontal.header-widget-position-with_logo .site-branding {
padding-right : 75px;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-center .site-branding {
text-align : center;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-center .main-navigation .menu-toggle {
text-align : center;
margin : auto;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-center .main-navigation .menu > li {
margin-left : 1px;
margin-right : 1px;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-right .site-branding {
text-align : right;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-right .main-navigation .menu-toggle {
text-align : right;
float : right;
}
.site-mobile-header-layout-vertical.site-mobile-header-alignment-right .main-navigation .menu > li {
margin-left : 1px;
margin-right : 1px;
}
.site-mobile-header-layout-vertical.site-header-site-branding-main-navigation.site-header-full-width-main-navigation .main-navigation {
border-top : 1px solid #eaeaea;
}
.site-mobile-header-layout-vertical.site-header-site-branding-main-navigation.site-header-full-width-main-navigation .main-navigation div {
border-bottom : 0;
}
.site-mobile-header-layout-vertical.site-header-main-navigation-site-branding.site-header-full-width-main-navigation .main-navigation {
border-bottom : 1px solid #eaeaea;
border-top : 0;
}
.site-mobile-header-layout-vertical.site-header-main-navigation-site-branding.site-header-full-width-main-navigation .main-navigation div {
border-bottom : 0;
}
.main-navigation .children, .main-navigation .sub-menu {
display : none;
}
.res-iconify {
top : 0.3px;
}
.main-navigation .res-iconify.no-menu {
top : 16.3px;
}
}
@media screen and (max-width: 576px) {
.site-mobile-header-layout-horizontal.site-header-main-navigation-site-branding .main-navigation .menu-toggle {
bottom : 28px;
}
.site-mobile-header-layout-horizontal.site-header-site-branding-main-navigation .main-navigation .menu-toggle {
top : 28px;
}
.site-mobile-header-layout-horizontal.header-widget-position-with_logo .site-branding {
padding-right : 15px;
}
}
.site-title a {
color : #333333;
}
.site-title a:hover {
color : #10659C;
}
.site-description {
color : #999999;
}
.site-header {
border-bottom-color : #eaeaea;
background-color : none;
}
.header-full-width.site-header-layout-vertical .main-navigation, .site-header-layout-vertical.site-header-full-width-main-navigation .main-navigation, .responsive-site-full-width.site-header-layout-vertical .main-navigation, .site-header-layout-vertical .main-navigation div, .site-header-layout-vertical.site-header-site-branding-main-navigation.last-item-spread-away .main-navigation .menu {
background-color : #ffffff;
}
.header-full-width.site-header-layout-vertical .main-navigation.toggled, .site-header-layout-vertical.site-header-full-width-main-navigation .main-navigation.toggled, .responsive-site-full-width.site-header-layout-vertical .main-navigation.toggled, .site-header-layout-vertical .main-navigation.toggled div, .main-navigation.toggled {
background-color : #ffffff;
}
@media (max-width: 767px) {
.site-mobile-header-layout-vertical .main-navigation {
background-color : #ffffff;
}
.site-mobile-header-layout-vertical .main-navigation.toggled {
background-color : #ffffff;
}
.site-mobile-header-layout-vertical.site-header-site-branding-main-navigation:not(.site-header-full-width-main-navigation) .main-navigation {
border-top : 1px solid #eaeaea;
}
.site-mobile-header-layout-vertical.site-header-main-navigation-site-branding:not(.site-header-full-width-main-navigation) .main-navigation {
border-bottom : 1px solid #eaeaea;
}
}
@media (min-width: 767px) {
.header-full-width.site-header-layout-vertical.site-header-site-branding-main-navigation .main-navigation, .responsive-site-full-width.site-header-layout-vertical.site-header-site-branding-main-navigation .main-navigation, .site-header-layout-vertical.site-header-site-branding-main-navigation:not(.site-header-full-width-main-navigation):not(.responsive-site-full-width):not(.header-full-width) .main-navigation > div {
border-top : 1px solid #eaeaea;
}
.header-full-width.site-header-layout-vertical.site-header-main-navigation-site-branding .main-navigation, .responsive-site-full-width.site-header-layout-vertical.site-header-main-navigation-site-branding .main-navigation, .site-header-layout-vertical.site-header-main-navigation-site-branding:not(.site-header-full-width-main-navigation):not(.responsive-site-full-width):not(.header-full-width) .main-navigation > div {
border-bottom : 1px solid #eaeaea;
}
}
.site-header-layout-vertical.site-header-full-width-main-navigation.site-header-site-branding-main-navigation .main-navigation {
border-top : 1px solid #eaeaea;
}
.site-header-layout-vertical.site-header-full-width-main-navigation.site-header-main-navigation-site-branding .main-navigation {
border-bottom : 1px solid #eaeaea;
}
.main-navigation .menu > li > a {
color : #333333;
}
.main-navigation .res-iconify svg {
stroke : #333333;
}
.main-navigation .menu > li.current_page_item > a, .main-navigation .menu > li.current-menu-item > a {
background-color : #ffffff;
}
.main-navigation .menu li > a:hover {
color : #10659C;
background-color : #ffffff;
}
.main-navigation .menu li:hover .res-iconify svg:hover, .main-navigation .menu > li:hover > a:not(.sub-menu) > .res-iconify svg {
stroke : #10659C;
}
.main-navigation .children, .main-navigation .sub-menu {
background-color : #ffffff;
}
.main-navigation .children li a, .main-navigation .sub-menu li a {
color : #333333;
}
.main-navigation .sub-menu li .res-iconify svg {
stroke : #333333;
}
.main-navigation .menu .sub-menu .current_page_item > a, .main-navigation .menu .sub-menu .current-menu-item > a, .main-navigation .menu .children li.current_page_item a {
background-color : #ffffff;
}
.main-navigation .children li a:hover, .main-navigation .sub-menu li a:hover, .main-navigation .menu .sub-menu .current_page_item > a:hover, .main-navigation .menu .sub-menu .current-menu-item > a:hover {
color : #10659C;
background-color : #ffffff;
}
.main-navigation .menu .sub-menu li:hover > .res-iconify svg, .main-navigation .menu .sub-menu li:hover > a > .res-iconify svg {
stroke : #10659C;
}
.main-navigation .menu-toggle {
background-color : transparent;
color : #333333;
}
.site-header {
border-bottom-width : 0;
border-bottom-style : solid;
}
.main-navigation .children, .main-navigation .sub-menu {
border-top-width : 0;
border-bottom-width : 0;
border-left-width : 0;
border-right-width : 0;
border-style : solid;
}
@media screen and (max-width: 992px) {
.main-navigation .children, .main-navigation .sub-menu {
border-top-width : 0;
border-bottom-width : 0;
border-left-width : 0;
border-right-width : 0;
border-style : solid;
}
}
@media screen and (max-width: 576px) {
.main-navigation .children, .main-navigation .sub-menu {
border-top-width : 0;
border-bottom-width : 0;
border-left-width : 0;
border-right-width : 0;
border-style : solid;
}
}
.site-branding-wrapper {
padding : 28px 0 28px 0;
}
@media screen and (max-width: 992px) {
.site-branding-wrapper {
padding : 28px 0 28px 0;
}
}
@media screen and (max-width: 576px) {
.site-branding-wrapper {
padding : 28px 0 28px 0;
}
}
.res-transparent-header .site-content {
padding : 120px 0 120px 0;
}
@media screen and (max-width: 992px) {
.res-transparent-header .site-content {
padding : 28px 0 28px 0;
}
}
@media screen and (max-width: 576px) {
.res-transparent-header .site-content {
padding : 28px 0 28px 0;
}
}
@media (max-width: 767px) {
.main-navigation.toggled .menu {
flex-direction : column;
}
}
.main-navigation .menu-toggle {
width : 49px;
}
.hamburger-menu-label {
font-size : 20px;
}
@media (max-width: 767px) {
.main-navigation.toggled .menu-toggle {
background-color : transparent;
border : none;
border-radius : 0;
}
.main-navigation .menu-toggle {
background-color : transparent;
border : none;
border-radius : 0;
}
}
.custom-logo-link {
display : block;
}
.site-content-header .page-header .page-title, .site-content-header .page-title {
color : #333333;
}
.site-content-header .page-header .page-description, .site-content-header .page-description {
color : #333333;
}
.site-content-header .breadcrumb-list, .site-content-header .breadcrumb-list a {
color : #333333;
}
.site-content-header {
padding : 30px;
}
@media screen and (max-width: 768px) {
.site-content-header {
padding : 30px;
}
}
@media screen and (max-width: 576px) {
.site-content-header {
padding : 30px;
}
}
@media (min-width: 992px) {
.search:not(.post-type-archive-product) .content-area, .archive:not(.post-type-archive-product):not(.post-type-archive-course) .content-area, .blog:not(.custom-home-page-active) .content-area {
width : 66%;
}
.search:not(.post-type-archive-product) aside.widget-area, .archive:not(.post-type-archive-product) aside.widget-area, .blog:not(.custom-home-page-active) aside.widget-area {
width : calc(100% - 66%);
}
}
.search .site-content article.product .post-entry .thumbnail img, .search .hentry .thumbnail img, .archive .hentry .thumbnail img, .blog .hentry .thumbnail img {
width : auto;
}
.search .hentry .post-meta > span::after, .archive .hentry .post-meta > span::after, .blog .hentry .post-meta > span::after {
content : '-';
}
@media (min-width: 992px) {
.single:not(.single-product) .content-area {
width : 66%;
}
.single:not(.single-product) aside.widget-area {
width : calc(100% - 66%);
}
}
.single .hentry .thumbnail img {
width : auto;
}
.single .hentry .post-meta > span::after {
content : '-';
}
@media (min-width: 992px) {
.page:not(.page-template-gutenberg-fullwidth):not(.page-template-full-width-page):not(.woocommerce-cart):not(.woocommerce-checkout):not(.front-page) .content-area {
width : 66%;
}
.page aside.widget-area:not(.home-widgets) {
width : calc(100% - 66%);
}
}
.page .hentry .thumbnail img {
width : auto;
}
.header-widgets {
background-color : #ffffff;
color : #333333;
border-color : #eaeaea;
}
.header-widgets h1, .header-widgets h2, .header-widgets h3, .header-widgets h4, .header-widgets h5, .header-widgets h6 {
color : #333333;
}
.header-widgets .widget-title h4 {
color : #333333;
}
.header-widgets a {
color : #0066CC;
}
.header-widgets a:focus, .header-widgets a:hover {
color : #10659C;
}
.footer-widgets {
display : block;
padding : 20px 0 20px 0;
}
@media screen and (max-width: 992px) {
.footer-widgets {
display : block;
padding : 20px 0 20px 0;
}
}
@media screen and (max-width: 576px) {
.footer-widgets {
display : block;
padding : 20px 0 20px 0;
}
}
.footer-bar {
padding : 20px 0 20px 0;
}
@media screen and (max-width: 992px) {
.footer-bar {
padding : 20px 0 20px 0;
}
}
@media screen and (max-width: 576px) {
.footer-bar {
padding : 20px 0 20px 0;
}
}
.site-footer {
color : #ffffff;
background-color : #000000;
}
.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6 {
color : #ffffff;
}
.site-footer a {
color : #eaeaea;
}
.site-footer a:focus, .site-footer a:hover {
color : #ffffff;
}
.footer-bar {
border-color : #aaaaaa;
border-top-width : 1px;
border-top-style : solid;
}
.footer-layouts.copyright {
display : block;
}
@media screen and (max-width: 992px) {
.footer-layouts.copyright {
display : block;
}
}
@media screen and (max-width: 576px) {
.footer-layouts.copyright {
display : block;
}
}
body {
font-weight : 400;
text-transform : inherit;
font-size : 16px;
line-height : 1.75;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
text-transform : inherit;
line-height : 1.25;
}
h1 {
text-transform : inherit;
font-size : 33px;
line-height : 1.25;
}
h2 {
text-transform : inherit;
font-size : 26px;
line-height : 1.25;
}
h3 {
text-transform : inherit;
font-size : 20px;
line-height : 1.25;
}
h4 {
text-transform : inherit;
font-size : 16px;
line-height : 1.25;
}
h5 {
text-transform : inherit;
font-size : 13px;
line-height : 1.25;
}
h6 {
font-size : 13px;
line-height : 1.25;
}
.hentry .post-data, .post-meta * {
text-transform : uppercase;
font-size : 12px;
line-height : 1.75;
}
.course #commentform #submit, .course .submit, .course a.button, .course a.button:visited, .course a.comment-reply-link, .course button.button, .course input.button, .course input[type="submit"], .course-container #commentform #submit, .course-container .submit, .course-container a.button, .course-container a.button:visited, .course-container a.comment-reply-link, .course-container button.button, .course-container input.button, .course-container input[type="submit"], .lesson #commentform #submit, .lesson .submit, .lesson a.button, .lesson a.button:visited, .lesson a.comment-reply-link, .lesson button.button, .lesson input.button, .lesson input[type="submit"], .quiz #commentform #submit, .quiz .submit, .quiz a.button, .quiz a.button:visited, .quiz a.comment-reply-link, .quiz button.button, .quiz input.button, .quiz input[type="submit"], .page.front-page .button, .blog.front-page .button, .read-more-button .hentry .read-more .more-link, input[type="button"], input[type="submit"], button, .button, .wp-block-button__link, .entry-content div.wpforms-container-full .wpforms-form input[type="submit"], body .entry-content div.wpforms-container-full .wpforms-form button[type="submit"], .entry-content div.wpforms-container-full .wpforms-form .wpforms-page-button, .read-more-button .hentry .read-more .more-link, input[type="button"], input[type="submit"], button, .button, .wp-block-button__link, .entry-content div.wpforms-container-full .wpforms-form input[type="submit"], .entry-content div.wpforms-container-full .wpforms-form button[type="submit"], .entry-content div.wpforms-container-full .wpforms-form .wpforms-page-button, .page.woocommerce-cart .woocommerce a.button.alt, .page.woocommerce-cart .woocommerce a.button, .woocommerce-cart .woocommerce a.button.alt, .woocommerce-cart .woocommerce a.button, .woocommerce button.button, .wp-block-button__link {
font-size : 16px;
line-height : 1;
}
select, textarea, input[type="tel"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="password"], input[type="range"], input[type="time"], input[type="url"], input[type="week"], .entry-content div.wpforms-container-full .wpforms-form input[type="date"], .entry-content div.wpforms-container-full .wpforms-form input[type="datetime"], .entry-content div.wpforms-container-full .wpforms-form input[type="datetime-local"], .entry-content div.wpforms-container-full .wpforms-form input[type="email"], .entry-content div.wpforms-container-full .wpforms-form input[type="month"], .entry-content div.wpforms-container-full .wpforms-form input[type="number"], .entry-content div.wpforms-container-full .wpforms-form input[type="password"], .entry-content div.wpforms-container-full .wpforms-form input[type="range"], .entry-content div.wpforms-container-full .wpforms-form input[type="search"], .entry-content div.wpforms-container-full .wpforms-form input[type="tel"], .entry-content div.wpforms-container-full .wpforms-form input[type="text"], .entry-content div.wpforms-container-full .wpforms-form input[type="time"], .entry-content div.wpforms-container-full .wpforms-form input[type="url"], .entry-content div.wpforms-container-full .wpforms-form input[type="week"], .entry-content div.wpforms-container-full .wpforms-form select, .entry-content div.wpforms-container-full .wpforms-form textarea {
font-size : 16px;
line-height : 1.75;
}
.site-title {
font-size : 20px;
line-height : 1;
}
.site-description {
font-size : 13px;
line-height : 1.25;
}
.header-widgets {
font-size : 13px;
}
.main-navigation a {
font-weight : 600;
font-size : 16px;
line-height : 1.75;
}
.site-content .widget-area:not(.home-widgets) .widget-wrapper {
font-size : 13px;
}
.site-content-header .page-header .page-title, .site-content-header .page-title {
font-size : 33px;
line-height : 1.75;
}
.site-content-header .page-header .page-description {
font-size : 16px;
line-height : 1.75;
}
.site-content-header .breadcrumb-list, .woocommerce .woocommerce-breadcrumb {
font-size : 13px;
line-height : 1.75;
}
.site-footer {
font-size : 13px;
line-height : 1.75;
}
.wp-block-audio figcaption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .wp-block-audio figcaption {
color : hsl(0 0% 100% / 0.65);
}
.wp-block-code {
border : #ccc solid 1px;
border-radius : 4px;
font-family : Menlo, Consolas, monaco, monospace;
padding : 0.8em 1em;
}
.wp-block-embed figcaption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .wp-block-embed figcaption {
color : hsl(0 0% 100% / 0.65);
}
.blocks-gallery-caption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .blocks-gallery-caption {
color : hsl(0 0% 100% / 0.65);
}
.wp-block-image figcaption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .wp-block-image figcaption {
color : hsl(0 0% 100% / 0.65);
}
.wp-block-pullquote {
border-top : 4px solid;
border-bottom : 4px solid;
margin-bottom : 1.75em;
color : currentColor;
}
.wp-block-pullquote__citation, .wp-block-pullquote cite, .wp-block-pullquote footer {
color : currentColor;
text-transform : uppercase;
font-size : 0.8125em;
font-style : normal;
}
.wp-block-quote {
border-left : 0.25em solid;
margin : 0 0 1.75em;
padding-left : 1em;
}
.wp-block-quote cite, .wp-block-quote footer {
color : currentColor;
font-size : 0.8125em;
position : relative;
font-style : normal;
}
.wp-block-quote.has-text-align-right {
border-left : none;
border-right : 0.25em solid;
padding-left : 0;
padding-right : 1em;
}
.wp-block-quote.has-text-align-center {
border : none;
padding-left : 0;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large, .wp-block-quote.is-style-plain {
border : none;
}
.wp-block-search .wp-block-search__label {
font-weight : 700;
}
:where(.wp-block-group.has-background) {
padding : 1.25em 2.375em;
}
.wp-block-separator.has-css-opacity {
opacity : 0.4;
}
.wp-block-separator {
border : none;
border-bottom : 2px solid;
margin-left : auto;
margin-right : auto;
}
.wp-block-separator.has-alpha-channel-opacity {
opacity : 1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
width : 100px;
}
.wp-block-separator.has-background:not(.is-style-dots) {
border-bottom : none;
height : 1px;
}
.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
height : 2px;
}
.wp-block-table thead {
border-bottom : 3px solid;
}
.wp-block-table tfoot {
border-top : 3px solid;
}
.wp-block-table td, .wp-block-table th {
padding : 0.5em;
border : solid 1px;
word-break : normal;
}
.wp-block-table figcaption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .wp-block-table figcaption {
color : hsl(0 0% 100% / 0.65);
}
.wp-block-video figcaption {
color : #555;
font-size : 13px;
text-align : center;
}
.is-dark-theme .wp-block-video figcaption {
color : hsl(0 0% 100% / 0.65);
}
.wp-block-template-part.has-background {
padding : 1.25em 2.375em;
margin-top : 0;
margin-bottom : 0;
}